{% extends 'base.html.twig' %}

{% block title %}New Jeu{% endblock %}

{% block body %}
    <div class="container">
        <div class="container d-flex justify-content-center" style="color:white; margin-bottom:2em;">
        <div class="row">
            <h1> Jeu </h1>
        </div>
    </div>
    
    <div class="div">
        <div class="row">
            <div class="col"> </div>
        </div>

        <div class="row"> 
            <div class="col"> </div>
        </div>
        
    </div>

    {{ include('jeu/_form.html.twig') }}

    <a href="{{ path('app_jeu_index') }}">back to list</a>
{% endblock %}
