{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
<div class="container">
    <div class="container d-flex justify-content-center" style="color:white; margin-bottom:2em;">
    <div class="row">
        <h1> Toutes mes équipes</h1>
    </div>
</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{{ equipe.id }}</td>
                <td>{{ equipe.nom }}</td>
                {% for membre in equipe.getCompositionEquipes %}
                    {% if membre.isHote == "false" %}
                        <td><a href="{{ path('app_equipe_edit', {'id': equipe.getId}) }}">edit</a></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="erreurs">

    </div>
</div>

    <a href="{{ path('app_equipe_new') }}">Create new</a>
{% endblock %}
