{% extends 'base.html.twig' %}

{% block title %}New Equipe{% endblock %}

{% block body %}

<div class="row d-flex justify-content-start" style="margin-bottom:2em;">
       
</div>
    <div class="container d-flex justify-content-center" style="margin-bottom:2em;">
    <div class="row">
        <div class="col"><h1> Formulaire de création d'équipe</h1></div> 
    </div>
</div>

    {{ include('equipe/_form.html.twig') }}

    {# <a href="{{ path('app_equipe_index') }}">back to list</a> #}
{% endblock %}
